<!-- Incluir o head -->
<%- include('./partials/head', {title: "Vai ETIM"}) %> 
<body>
<!-- Menu -->
<%- include('./partials/navbar') %> 

  <div class="container">
    <br>

    <a href="#"><i class="fas fa-long-arrow-alt-left"></i> Voltar</a> <br><br>
        
    <div class="card shadow">
      <div class="card-header bg-purple text-white pl-5 p-4">
        <h2 class="float-left"><i class="fas fa-calendar-alt"></i> Avisos cadastrados</h2>
        <a href="/avisos/novo" class="btn btn-outline-light float-right"><i class="fas fa-plus-circle"></i> Criar novo aviso</a>
      </div>
      <div class="card-body p-5">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Título</th>
              <th scope="col">Data</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>

            <% if (avisos.length < 1) { %>
             <tr>
               <td colspan="4" class="text-center">Nenhum aviso cadastrado</td>
             </tr>
            <% } %>

            <% avisos.forEach(aviso => { %>

              <tr>
                <th scope="row"> <%= aviso.ID_avisos %>  </th> 
                <td> <%= aviso.titulo %> </td>
                <td> <%= moment(aviso.data).format("DD/MM/YYYY") %> </td>
                <td>
                  <button class="btn btn-secondary">Excluir</button>
                  <button class="btn btn-primary">Alterar</button>
                </td>
              </tr>

            <% }) %>

          </tbody>
        </table>
      </div><!--card-body-->
    </div><!--card-->

  </div><!--container-->

  <%- include('./partials/scripts_import') %> 
</body>
</html>
